body {
  background-color: #F5F7FB;
}
.container {
  height: 100vh;
  margin-inline: auto;
  margin-block: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-inline: clamp(1em, 5vw, 5rem);
  gap: 0.5em;
  font-family: inter;
}

button {
  background-color: #4D5B9E;
  border: none;
  padding-block: 1em;
  padding-inline: 2em;
  border-radius: 15px;
  color: #F5F7FB;
  font-family: karla;
}

button:hover {
  background-color: #7888d6;
  cursor: pointer;
}
h1 {
  font-family: karla;
  font-size: clamp(1rem, 50vw, 3rem);
  margin-bottom: 0;
  color: #293264;
}

p {
  margin-bottom: 5em;
  color: #293264;
}

.question {
  font-family: karla;
  font-size: clamp(1rem, 3vw, 1.5rem);
  margin-bottom: 1em;
  color: #293264;
}

.answers {
  font-family: inter;
  font-size: 0.9rem;
  max-width: 100%;
  display: flex;
  gap: 1rem;
  cursor: pointer;
  color: #293264;
  align-items: start;
}


.answers > * {
  border: 1px solid  #293264;
  padding-inline: clamp(3rem, 5vw, 4rem);
  padding-block: 0.5em;
  border-radius: 12px;
}

/* Styling for the selected (clicked) answer */
.on {
  background-color: #97a1d0;
  border: none;
}

.not-on {
  background-color: transparent;
  border: 1px solid  #293264;
  opacity: 50%;
}

/* Styling for the selected (clicked) correct answer */
.selected.right {
  background-color: #94D7A2;
  border: none;
  opacity: 100%;
}

/* Styling for the selected (clicked) incorrect answer */
.selected.wrong {
  background-color: #F8BCBC;
  border: none;
  opacity: 50%;
}

.flex {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.score, .loading {
  color: #293264;
  font-family: karla;
}




/* Blob */

.blob {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.blob1-svg {
  position: absolute;
  animation: floatAnimation 10s ease-in-out infinite;
}

.blob2-svg {
  position: absolute;
  animation: floatAnimation2 10s ease-in-out infinite;
}

@keyframes floatAnimation {
  0% {transform: scale(1) translate(20vw, 20vh);}
  38% {transform: scale(0.8) translate(60vw, 60vh) rotate(160deg);}
  78% {transform: scale(1.5) translate(45vw, 45vh) rotate(-70deg);}
  100% {transform: scale(1) translate(20vw, 20vh);}
}

@keyframes floatAnimation2 {
  0% {transform: scale(1) translate(60vw, 60vh);}
  38% {transform: scale(0.8) translate(45vw, 45vh) rotate(160deg);}
  78% {transform: scale(1.5) translate(20vw, 20vh) rotate(-70deg);}
  100% {transform: scale(1) translate(60vw, 60vh);}
}

/* Media Queries */

/* For small screens */
@media (max-width: 767.98px) {
  .answers > * {
    font-size: 0.6rem;
    padding-inline: 1em;
  }

  .container-questions {
    padding-top: 7rem;
  }
  @keyframes floatAnimation {
    0% {transform: scale(1) translate(0vw, 0vh);}
    38% {transform: scale(0.8) translate(50vw, 50vh) rotate(160deg);}
    78% {transform: scale(1.5) translate(25vw, 25vh) rotate(-70deg);}
    100% {transform: scale(1) translate(0vw, 0vh);}
  }
  
  @keyframes floatAnimation2 {
    0% {transform: scale(1) translate(40vw, 40vh);}
    38% {transform: scale(0.8) translate(25vw, 25vh) rotate(160deg);}
    78% {transform: scale(1.5) translate(10vw, 10vh) rotate(-70deg);}
    100% {transform: scale(1) translate(40vw, 40vh);}
  }
}